table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

body {
    background-image: url('Images/StoneWall.jpg');
    background-repeat: repeat;
    background-size: 20vw;
}

h1 {
    text-align: center;
    font-size: 5vw;
    color: white;
    font-family: 'Jacques Francois Shadow', serif;
}

h2 {
    text-align: center;
    font-size: 3.33vw;
    color: white;
    font-family: 'Jacques Francois Shadow', serif;
}

p {
    text-align: center;
    font-size: 2.77vw;
    color: white;
    font-family: 'Jaini', serif;
}

#nav {
    text-align: center;
}